body{
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(0deg, red, yellow);
  height: 100%;
  background-repeat: no-repeat;
}
.DivTarjeta{
  position: relative;
  width: 500px;
  height: 250px;
  margin: 17% auto;
  background-image: linear-gradient(109deg, rgba(255, 255, 255, 0)42% ,#3c3c3b 0%),url(../img/Esilva.png);
  background-repeat: no-repeat;
}
